<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <h3 class="text-muted"><span style="color:#ffffff;"><span style="font-size: 20px;"><span style="font-family: Times New Roman,Times,serif;"><em>Проект 'Композиционные материалы'</em></span></span></span>
    </h3>
  
    <table align="center" bgcolor="Teal" border="3" cellpadding="5" cellspacing="5" dir="ltr" width="800px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;"><span style="font-size: 15px;">Программа расчета<br />
            прогнозного значения параметра<br />
            &laquo;Соотношение матрица-наполнитель&raquo;</span></span></span></th>
		</tr>
	</tbody>
    </table>
    <table align="center" bgcolor="LightSlateGray" border="3" cellpadding="5" cellspacing="5" dir="ltr" width="800px">
	    <tbody>
		<tr>
			<th><span style="font-size: 15px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;">Заполните ячейки и нажмите &quot;РАССЧИТАТЬ ЗНАЧЕНИЕ&quot; или &quot;ОЧИСТИТЬ ФОРМУ&quot; </span></span></span></th>
		</tr>
	</tbody>
    </table>
</head>

 <body>
	<table align="center" bgcolor="#a2541" border="3" cellpadding="5" cellspacing="5" dir="ltr" width="800px">
    <form method="post" action="">
    <table align="center" bgcolor="#e56e29" border="3" bordercolor="#0b4700" cellpadding="5" cellspacing="5" width="800px">
	<tbody>
        <tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label>Название параметра</label> </span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label>Рекомендованное значение ОТ-ДО</label> </span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label>Значение параметра</label> </span></td>
		</tr>
        <tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param1">Угол нашивки, град</label> </span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 0.0 или 1.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param1" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param2">Шаг нашивки</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 1.6 - 13.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param2" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param3">Плотность нашивки</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 30.0 - 80.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param3" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param4">Плотность, кг/м3</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 1800.0 - 2150.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param4" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param5">Модуль упругости, ГПа</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 55.0 - 1550.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param5" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param6">Количество отвердителя, м.%</label> </span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 40.0 - 180.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param6" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param7">Содержание эпоксидных групп,%_2</label> </span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 17.0 - 28.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param7" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param8">Температура вспышки, С_2</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 190.0 - 380.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param8" placeholder="Заполните значение" type="float" required/></span></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param9">Поверхностная плотность, г/м2</label> </span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 30.0 - 1200.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param9" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param10">Модуль упругости при растяжении, ГПа</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 66.0 - 81.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param10" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param11">Прочность при растяжении, МПа</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 1330.0 - 3600.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param11" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
		<tr>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label for="param12">Потребление смолы, г/м2</label></span></span></span></td>
            <td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><span style="color:#ffffff;"><label> 80.0 - 350.0</label> </span></span></span></td>
			<td><span style="font-size: 16px;"><span style="font-family: Times New Roman,Times,serif;"><input name="param12" placeholder="Заполните значение" type="float" required/></span></span></td>
		</tr>
	    </tbody>
    </table>
    <table align="center" bgcolor="Red" border="3" cellpadding="5" cellspacing="5" width="800px">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-size: 13px;"><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 13px;"><span style="font-family: Times New Roman,Times,serif;"><p>
			<input type="submit" value="РАССЧИТАТЬ ЗНАЧЕНИЕ">
		</tr>
	</tbody>
    </table>
    <table align="center" bgcolor="Black" border="3" cellpadding="5" cellspacing="5" width="800px">
	<tbody>
		<tr>
			<td style="text-align: center;"><span style="font-size: 13px;"><span style="font-family: Times New Roman,Times,serif;"><span style="font-size: 13px;"><span style="font-family: Times New Roman,Times,serif;"><p>
			<button type="reset">ОЧИСТИТЬ ФОРМУ</button>
		</tr>
	</tbody>
    </table>
 
	<table align="center" bgcolor="Teal" border="3" cellpadding="5" cellspacing="5" width="800px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;"><span style="font-size: 20px;">Результат прогноза:</span></span></span></th>
		</tr>
	</tbody>
    </table>
    <table align="center" bgcolor="ForestGreen" border="3" cellpadding="5" cellspacing="5" width="800px">
	<tbody>
		<tr>
			<th align="center"><span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;">{% if result %} </span></span><p>
			<span style="font-family: Times New Roman,Times,serif;"><span style="color: #ffffff;">{{ result }}</span></span></p>
			<span style="font-family: Times New Roman,Times,serif;"> <span style="color: #ffffff;">{% endif %} </span></span>
			</th>
		</tr>
	</tbody>
    </table>
    </form>
<div>
<p><span style="color:#ffffff;"><span style="font-family: Times New Roman,Times,serif;"><span class="footer"><em>Приложение разработал:</em></span></span>
	<span style="font-family: Times New Roman,Times,serif;"><span class="footer"><em><strong>Григорьев С.</strong> -&nbsp;
	слушатель курса &laquo;Data Science&raquo; </em></span></span> <span style="font-family: Times New Roman,Times,serif;">
	<span class="footer"><em>Образовательного центра МГТУ им. Н.Э. Баумана&copy;, </em></span></span> <span style="font-family: Times New Roman,Times,serif;">
	<span class="footer"><em>апрель 2023 г.</em></span></span></span></p>
</div>

<style type="text/css">body {
    background-image: background_image.png; background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: Navy; 
    }
</style>
</body>
</html>